body{
    margin: 0px;
    padding: 0px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background-color: rgb(28, 27, 34);
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo,#logohide{
    color:#ffa500;
    margin-top: 5px;
}
#heading{
    color:white;  
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 9px;
}
#searchIcon{
    width: 40px;
    background-color: rgb(26, 163, 187);
    color: white;
    font-size: 14px;
    margin-left: -10px;
    border: 1px solid rgb(31, 185, 212);
    border-top-right-radius:90px ;
    border-bottom-right-radius:90px ;
}
#searchIcon:hover{
    background-color:rgb(36, 129, 192);
    width: 40px;
}
#search{
    width: 240px;
}
#navbarDropdown{
    color: white;
    font-size: 15px;
    min-width: 120px;
}
#navbarDropdown:hover{
    text-decoration: none;
    color: rgb(49, 172, 255);
}
#SignUp{
    color: white;
    font-weight:bolder;
    background-color: rgb(89, 167, 11);
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
}
#LogIn{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
#LogIn:hover{
    text-decoration: none;
}
#LogIn:focus,#navbarDropdown:focus{
    text-decoration: none;
}
#badge{
    background-color: rgb(36, 129, 192);
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
}
#logohide{
    display: none;
}
.dropdown-menu{
    width:100%;
    height: 120px;
}
#firstdropdown,#seconddropdown,#thirddropdown{
    align-items: center;
    text-align: center; 
}
#firstdropdown a,#seconddropdown a,#thirddropdown a{
    display: inline-block;
    background-color: lavender;
    width:145px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(95, 94, 94);
    padding-bottom: 5px;
    padding-top: 5px;
}
#one:hover{
    color: purple;
    border-bottom:5px solid purple;
    transition: 0.3s;
}
#two:hover{
    color: darkred;
    border-bottom:5px solid darkred;
    transition: 0.3s;
}
#three:hover{
    color: green;
    border-bottom:5px solid green;
    transition: 0.3s;
}
#four:hover{
    color: red;
    border-bottom:5px solid red;
    transition: 0.3s;
}
#five:hover{
    color: blue;
    border-bottom:5px solid blue;
    transition: 0.3s;
}
#six:hover{
    color: orange;
    border-bottom:5px solid orange;
    transition: 0.3s;
}
#seven:hover{
    color: rgb(238, 14, 119);
    border-bottom:5px solid rgb(238, 14, 119);
    transition: 0.3s;
}
#eight:hover{
    color: rgb(132, 197, 11);
    border-bottom:5px solid rgb(132, 197, 11);
    transition: 0.3s;
}
#nine:hover{
    color: black;
    border-bottom:5px solid black;
    transition: 0.3s;
}
#header{
    width: 100%;
    height: 400px;
    margin-top: 75px;
    background-image: linear-gradient(to right,rgb(5, 21, 27),rgb(26, 163, 187));
}
#header h1 {
    color:white;
    font-size: 55px;
    font-family: Geneva, Verdana, sans-serif;
    margin-left: 20px;
}
#mark{
    color: rgb(89, 167, 11);
    font-size: 20px;
}
#header p{
    color:white;
    font-size: 18px;
    margin-left: 20px;
}
#sideheader a{
    display: inline-block;
    background-color: white;
    text-align: center;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 15px;
}
#headersign{
    margin-left: 20px;
    background-color: rgb(89, 167, 11);
    color: white;
    font-size: 19px;
    font-weight: bolder;
    border: 2px solid rgb(89, 167, 11);
    border-radius: 10px;
    padding :10px 30px;
    font-family: Arial, sans-serif;
}
#headerone:hover{
    border-top: 3px solid red;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s; 
}
#headertwo:hover{
    border-top: 3px solid purple;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}
#headerthree:hover{
    border-top: 3px solid green;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}
#headerfour:hover{
    border-top: 3px solid blue;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}
#headerfive:hover{
    border-top: 3px solid black;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}
#headersix:hover{
    border-top: 3px solid rgb(105, 241, 14);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}
#headerseven:hover{
    border-top: 3px solid rgb(230, 12, 182);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}
#headereight:hover{
    border-top: 3px solid gray;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}
#headernine:hover{
    border-top: 3px solid orange;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: 0.3s;
}
#items{
    background-color: white;
    width: 100%;
    height: 60px;   
}
#items div{
    margin-top: 15px;
}
#items a{
    font-size: 17px;
    color: black;
    font-family: serif;
}
#items .active{
    border-bottom: 4px solid rgb(26, 163, 187);
}
#items a:hover , #items a:focus {
    text-decoration: none;
    border-bottom: 4px solid rgb(26, 163, 187);
    transition: left .3s;
}
.trending{
    background-color: lavender;
}
.trending div{
    margin-top: 20px;
}
.trending img{
    width: 215px;
    height: 150px;
}
#course{
    width: 215px;
    height: 340px;
    background-color: white;
}
#course p{
   margin-top: 10px;
   color: white;
   font-size: 12px;
   font-family: Helvetica, sans-serif;
}
#course p :first-child{
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(56, 56, 56);
    padding: 2px 5px;
    border-radius: 2px;
    margin-left: 10px;
}
#course p :nth-child(2){
    margin-top: 10px;
    margin-right: 10px;
    background-color: green;
    padding: 2px 5px;
    border-radius: 2px;
}
#course h3{
    margin-left: 10px;
    margin-top: 25px;
    font-family: Helvetica, sans-serif;
}
#course a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
#course button{
    margin-left: 30px;
    background-color: rgb(36, 129, 192) ;
    border: 2px solid rgb(36, 129, 192);
    border-radius: 2px;
    padding: 5px 35px;
}
#more a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}
#more button{
    margin-left: 30px;
    background-color: rgb(36, 129, 192) ;
    border: 2px solid rgb(36, 129, 192);
    border-radius: 2px;
    padding: 5px 35px;
    margin-bottom: 90px;
}
#statistics{
    background-color: rgb(36, 129, 192);
}
#statistics div{
    color:white;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    width:200px;
    font-family:serif;
}
#opinions{
    background-color: white;
}
#slider2 span{
   font-size: 18px;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
#myCarousel ol li {
   background-color: rgb(49, 48, 48);
}
#firstsvg rect {
    transform: rotate(35deg);

}
#beforefooter{
    background-color:rgb(36, 129, 192) ;
}
#beforeFooter{
    margin-top: 120px;
}
#beforeFooter p{
    color: white;
    font-size: 26px;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: 50px;
}
#beforeFooter button{
    margin-bottom: 110px;
}
#Footer{
    background-color: rgb(75, 75, 75);
}
#final{
    margin-top: 50px;
}
#Footer h4 a{
    color: white;
    border-bottom: 2px solid rgb(36, 129, 192);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
#Footer p a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
#Footer p:hover{
    padding-left: 5px;
    transition: 0.2s;
}
#contact i{
    margin-right: 10px;
}
#up{
    background-color: rgb(24, 25, 39);
}
#up .col-3 :first-child{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 30px;
}
#up .col-3 :nth-child(2){
    font-size: 18px;
    color:rgb(94, 91, 91);
}
#up .col-5{
   padding-top: 35px;
}
#up .col-5 a{
    color:rgb(94, 91, 91);
    font-size: 15px;
    padding-right: 20px;
}
#up a:hover{
    text-decoration: none;
    padding-left: 5px;
       transition: .2s;
}
#logoup{
    position: absolute;
    margin-bottom: 90px;
}
#ModeloneHeader h4{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ModeloneHeader{
    background-color:  rgb(12, 14, 41);
}
#ModeloneHeader .col-12 button{
    background-color: rgb(12, 14, 41);
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}
#ModeloneHeader p{
    color:rgb(89, 167, 11);
    text-align: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 40px;
}
#modelonebody {
    background-color: rgb(223, 224, 224);
}
#modelonebody .col-7 input[type="text"]{
    border: none;
    padding: 10px;
    width: 44%;
    margin-right: 3px;
}
#modelonebody ::placeholder{
    color: black;
}
#modelonebody .col-7 input[type="email"]{
    padding:10px;
    width: 90%;
    border: none;
}
#modelonebody .col-7 input[type="password"]{
    padding:10px;
    width: 90%;
    border: none;
}
#modelonebody #signbutton,#modelonebody #logbutton{
    background-color: rgb(89, 167, 11);
    color:white;
    border: none;
    font-size: 16px;
    padding: 10px 169px;
    text-align: center;
}
@media screen and (min-width: 900px) and (max-width:1300px) {
    #search{width: 90%;}
    #heading {display: none;}
    #logohide{display:inline}
    #navbarDropdown{margin-right: 20px;}
    #SignUp,#LogIn{min-width: 80px;}
    #sideheader{min-width: 370px;}
    #header{text-align: center; align-items: center;}
    .col-2{min-width: 300px;}
    .more{min-width: 300px;}
    #statistics div{min-width: 200px;}
    #firstsvg{display: none;}
    #slider2{margin-bottom:20px;;min-width: 200px;margin: 0px;}
    #opinions{align-items: center;}
    #logoup{display: none;}
    #indicators{display: none;}
}
@media screen and (min-width: 800px)and (max-width:899px){
    #search{width: 90%;}
    #heading {display: none;}
    #logohide{display:inline}
    #navbarDropdown{margin-right: 20px;}
    #SignUp,#LogIn{min-width: 80px;}
    #sideheader{min-width: 370px;}
    #header{text-align: center; align-items: center;}
    #header{height: 750px;}
    .col-2{min-width: 300px;}
    .more{min-width: 300px;}
    #statistics div{min-width: 200px;}
    #slider2{margin-bottom:90px;min-width: 300px;}
    #firstsvg{display: none;}
    #slider1{display: none;}
    #beforeFooter button{min-width: 250px;}
    #up .col-3{display: none;}
    #logoup{display: none;}
    #indicators{display: none;}
}
@media screen and (min-width: 200px) and (max-width:799px)  {
    #search{width: 90%;}
    #heading {display: none;}
    #logohide{display:inline}
    #navbarDropdown{min-width: 430px;}
    #SignUp{min-width: 80px;}
    #sideheader{min-width: 370px;}
    #header{height: 750px;}
    .col-2{min-width: 300px;}
    .more{min-width: 300px;}
    #statistics div{min-width: 200px;}
    #slider1{display: none;}
    #firstsvg{display: none;}
    #slider2{margin-bottom:90px;min-width: 250px;}
    #beforeFooter button{min-width: 250px;}
    #up .col-3{display: none;}
    #logoup{display: none;}
    #indicators{display: none;}

}